:root {
  interpolate-size: allow-keywords;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #faf9f7;

  font-family: "Geist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

.container {
  width: 90%;
  margin: 1rem auto 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  display: flex;
  gap: 1rem;
}

.nav-list li a,
.home-link a {
  text-decoration: none;
  color: #a37643 !important;
  font-size: 16px;
}

.home-link {
  color: #a37643;
}

footer {
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  font-size: 12px;
  margin-top: auto;
  padding: 1rem 0;
  font-size: 14px;

  padding-top: 140px;
}

footer p {
  display: flex;
  align-items: center;
  font-size: 10px;
}
footer ul {
  list-style-type: none;
  display: flex;
  gap: 0.5rem;
  padding: 0;
}
footer ul li a {
  text-decoration: underline;
  color: #a37643;
}
footer ul li a:hover {
  color: #a37643;
}

.main-content {
  padding-top: 1rem;
}

@media screen and (min-width: 768px) {
  .container {
    width: 640px;
    margin: 2rem auto 0;
  }

  .fixed-footer {
    width: 640px;
  }

  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }
}
.read-more_featured{
  padding-top: 0.5rem;
}

.read-more {
  border: none;
  display: flex;
  align-items: center;
  cursor: pointer;
  background: transparent;
  color: #a37643;
  font-size: 14px;

  margin: 0;
}

.read-more svg {
  width: 1.5rem;
  /* margin-top: 0.1rem; */
}

.read-more:hover {
  text-decoration: underline;
}

.blog-item {
  display: grid;
  gap: 1.5rem;
}

a:-webkit-any-link {
  color: #2b2b2b;
}

.blog-item a h3 {
  font-size: 16px;
}
.blog-item a p {
  font-size: 14px;
  line-height: 25px;
  width: 90%;
  /* padding: 0;
    margin: 0; */
}

.hidden {
  display: none;
}

code {
  font-family: "Roboto Mono", monospace;

  padding: 0.2rem 0.4rem;
  border-radius: 3px;
  background-color: #282a36; /* Dracula background color */
  color: #ffb86c;
  font-size: 0.7rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  font-style: italic;
  transition: background-color 0.2s ease;
}

.index-link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: bold;
  /* text-decoration: underline; */
}

.archive-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 1rem;
  column-gap: 1rem;
}
.library-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 1rem;
  column-gap: 1rem;
}

.archive-grid article img {
  width: 100%;
  height: 200px;
  border-top-right-radius: 8px;
  object-fit: cover;
}

.archive-grid article, .library-grid .book-entry {
  border: 1px solid #e5e7eb; /* Tailwind's gray-200 */
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  text-align: center;
}

.modal-listItem{
  background-color: #8b4513; 
  color: #fff;
  padding: 2px 7px; 
  border-radius: 15px; 
  font-size: 10px; 
  display: inline-block; 
  font-weight: normal; 
  text-transform: capitalize; 
  margin-top: .5rem;
}



@media screen and (max-width:425px){
  .library-grid {

    grid-template-columns: repeat(1, 1fr);
  
  }
}

.visible{
  display: block;
}

.about-sidenav{
  margin-top: 5rem;
 }

 .about-sidenav ul{
  /* list-style-type: none; */
  display: grid;
  gap: .4rem;
 }
 .about-sidenav ul li a, .about-sidenav ul li {
  text-decoration: none;
  color: #A37643;
  font-weight: 500;
  font-size: 14px;
 }
 .about-sidenav ul li a:hover {
  opacity: 0.7;
 }

/* @media screen and (min-width:768px) {
  .about-sidenav{
    position: absolute;
    right: -7rem;
    bottom:0;
  }

 

} */
