---
import '../styles/global.css';
import { Icon } from "astro-icon/components";
import Layout from "../layouts/Layout.astro";
import hashnodeImg from "../assets/hashnode.png";
import devto from "../assets/devto.png";
import firstPortfolio from "../assets/first-portfolio.png"

const data = [
    {
        img: hashnodeImg,
        title: 'Hashnode blog',
        content: "79 draft and 20 articles later. I maintained this blog for nearly 4 years and I thought it would be my personal spot on the internet forever. The mere reason that you're here is proof that we all evolve, and so do our desires.",
        link: 'https://blossom.hashnode.dev/'
    },
    {
        img: devto,
        title: 'Dev.to blog',
        content: "79 draft and 20 articles later. I maintained this blog for nearly 4 years and I thought it would be my personal spot on the internet forever. The mere reason that you're here is proof that we all evolve, and so do our desires.",
        link: "https://dev.to/blossom"
    },
    {
        img: firstPortfolio,
        title: 'My first ever portfolio',
        content: "Hey, it got me my first internship at Voip55.",
        link: "https://blossom-babs.github.io/portfolio-two/"
    },
    {
        img: firstPortfolio,
        title: 'A contact card I found when I googled my name',
        content: "I no longer have access to this contact card so I cannot update any outdated information.",
        link: "https://linktr.ee/BlossomBabalola"
    },
]
---

<Layout>
    <div class="cont">
        <h3>I see you found the archive. </h3>
      
        <div class="archive-grid">
            {data.map((item, index) => (
<article>
    <img src={item.img.src} alt="hashnode blog">
                <p>{item.title}</p>
                <p>{item.content}</p>
                <a href={item.link}><Icon name="mdi:external-link"/></a>
</article>
            ))}
        
    
        
       
        </div>
    </div>
</Layout>

<style>
    .cont{
        margin-top: 1rem;
    }
.archive-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1rem;
    column-gap: 1rem;

}

.archive-grid article img{
    width: 250px;
    height: 250px;
    object-fit: contain;
    background-color: #A37643;
}
</style>