---
import "../styles/global.css";
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";
import Featured from "../components/Featured.astro";
import { Icon } from "astro-icon/components";
const pageTitle = "Blossom - Home";
---

<Layout>
  <div class="main">
    <section>
	 <h1>Hi, I'm Blossom.</h1>


   <p>I build, I break, I rebuild — and I get better every time.</p>

<p>I'm a frontend engineer who loves making elegant products that actually <i>work</i> - fast, secure, and intuitive. I have a soft spot for fintech, a growing obsession with clean architecture, and a serious love for turning wild ideas into real projects. </p>

<p>Around here, you'll find me sharing what I'm learning, building, and breaking - one sprint, one bug fix, one breakthrough at a time. </p>

<!-- Let’s build something unforgettable. -->
     
    I'm originally from Nigeria but I'm currently based in Ontario Canada.
   </p>

   <p>
    Previously at <a href="https://www.linkedin.com/company/cleva-banking/posts/?feedView=all" target="_blank">Cleva</a> and <a href="https://www.linkedin.com/company/themullingsgrp/posts/?feedView=all" target="_blank">The mullings group</a>.
   </p>
    </section>

    <div class="index-link">
      <p>Connect with me on <a href="https://www.linkedin.com/in/blossom-babalola/">linkedin  <Icon name="mdi:arrow-top-right"/></a></p>
      <p><a href="https://github.com/blossom-babs">
      
         github 
          <Icon name="mdi:arrow-top-right"/>
    </a></p>
     
    </div>

	<section class="featured">
		<h2>Featured Articles</h2>
		<Featured />
		
  </div>
</Layout>

<style>
  .main {
    padding-top: 1rem;
    font-size: 14px;
    line-height: 22px;
    color: #2b2b2b;

  }

  a{
    color: black;
  }

  .main h1 {
    font-weight: 500;
    font-size: 18px;
  }

  .featured{
	margin-top: 2rem;
  }
  .featured h2{
	text-decoration:  underline;
  font-weight: 500;
	font-size: 18px;
  }

  
</style>
