---
import '../styles/global.css';
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import Featured from '../components/Featured.astro';
import { Icon } from 'astro-icon/components';
const pageTitle = "Blossom - Home"



---

<Layout >
<div class="main">
	<Featured/>

	
</div>
</Layout>


<style>

	.main{
		padding-top: 1rem;
	}

	
</style>