---
import { Icon } from "astro-icon/components";
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <div>
        <p>Coming soon  <Icon name="mdi:hammer-screwdriver"/></p>
    </div>
</Layout>