---
import { Icon } from "astro-icon/components";
---

<div class="index-link">
    <p>Connect with me on <a href="https://www.linkedin.com/in/blossom-babalola/">linkedin  <Icon name="mdi:arrow-top-right"/></a></p>
    <p><a href="https://github.com/blossom-babs">
    
       github 
        <Icon name="mdi:arrow-top-right"/>
  </a></p>
   
  </div>