---

const currentYear = new Date().getFullYear()
---

<footer>
    <p>copyright &copy; 2025 - {currentYear}</p>
    

    <ul>
    
        
        <!-- <li><a href="mailto:blossombab.swe@gmail.com">
           
             book a call
        </a></li> -->
        <li><a href="mailto:blossombab.swe@gmail.com">
            <!-- <Icon name="mdi:mail-outline"/> -->
             email
        </a></li>
        <li><a href="https://github.com/blossom-babs">
            <!-- <Icon name="mdi:github"/> -->
             github
        </a></li>
        <li><a href="https://www.linkedin.com/in/blossom-babalola/">
            <!-- <Icon name="mdi:linkedin"/> -->
             linkedin
        </a></li>
        <!-- <li><a href="https://www.linkedin.com/in/blossom-babalola/">
             <Icon name="mdi:twitter"/> 
        </a></li> -->
        <!-- <li><a href="https://www.linkedin.com/in/blossom-babalola/">
            <Icon name="mdi:youtube"/>
        </a></li> -->
        
        
    </ul>
</footer>