---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
---

<div id="container">
	<h1> Interesting. The beauty of side projects is that it gives you the permission to safely explore, and gives you multiple versatile experiences to be able to speak on multiple topics </h1>
	<p>Side projects are great. I still need the security of a job though, lol.</p>
</div>


