---
import { Icon } from 'astro-icon/components'
import '../styles/global.css'
const {pageTitle} = Astro.props
const currentYear = new Date().getFullYear()
import Footer from '../components/Footer.astro'
---


<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Geist:wght@100..900&display=swap" rel="stylesheet">
		<title>{pageTitle}</title>
	</head>
	<body>
		<div class="container">
			<main class="layout-main">
				<nav class="nav-links">
					<div class="home-link"><a style="" href="/">home &#x1F33C;</a></div>
					<ul class="nav-list">
			
						
						<!-- <li><a href="/">Home</a></li> -->
						<li><a href="/about">about</a></li>
						<li><a href="/blog">blog</a></li>
						<li><a href="/projects">works</a></li>
						<!-- <li><a href="/random">Others.</a></li> // others should be in about and I should instead show off my random, archive, gallery, books read, hobby, future hobby, talks-->
						
					</ul>
				</nav>
				<div class="main-content">
					<slot />
				</div>
			</main>
	
			<div class="">
				<Footer/>
			</div>
		</div>

	</body>
</html>

<style>
.container{
	width: 90%;
	margin: 0 auto;
}


@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    margin:2rem auto 0;
  }
}
	</style>



